:root {
  --orange: #d73f09;
  --black: #181818;
  --gray: #b3b3b3;
  --darkerGray: #c2c2c2;
}

.home_container {
  margin: 0;
}

.current_date {
  margin: 0;
}

.main_button {
  background-color: var(--black);
  color: white;
  border: solid white 1px;
  border-radius: 10px;
  padding: 5px 20px;
  margin: 0px 10px;
}

.main_button:hover {
  color: var(--orange);
}

.daily_total {
  background-color: var(--black);
  color: white;
  margin: auto;
  margin-top: 10px;
  width: 75%;
  padding: 10px;
  border-radius: 10px;
}

.daily_total h1 {
  margin: 0;
}

.home_container table {
  background-color: white;
  margin: auto;
  width: 90%;
  border-collapse: collapse;
}

.home_container th {
  background-color: var(--orange);
  color: black;
}

.home_container tr:nth-child(even) {
  background-color: var(--darkerGray);
}

.home_container table,
th,
td {
  border: solid black 1px;
  padding: 5px 10px;
  color: black;
}

.mealFile_container {
  background-color: var(--black);
  color: white;
  margin: auto;
  margin-top: 10px;
  width: 75%;
  padding: 10px;
  border-radius: 10px;
}

.meal_top_bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.meal_top_bar h1 {
  margin: 0;
}

.meal_top_bar button {
  background-color: black;
  color: white;
  border: solid white 1px;
  border-radius: 10px;
  padding: 3px 20px;
  margin-left: 10px;
}

.meal_top_bar button:hover {
  color: var(--orange);
  border-color: var(--orange);
}

.meal_top_bar h2 {
  margin: 0;
}

#total td {
  background-color: black;
  color: white;
  border: solid var(--orange) 1px;
}
